.App
{
  color: rgb(0, 0, 0);
}

nav {
  background-color: #1f1f1f;
  padding: 1rem 2rem;
  display: flex;
  justify-content: right;
  gap: 5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-content: left;
}

nav a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00bcd4;
}
